anyio==4.12.0 ; python_version >= "3.11" and python_version < "3.14" and platform_system != "Pyodide"
certifi==2025.11.12 ; python_version >= "3.11" and python_version < "3.14" and platform_system != "Pyodide"
flet==0.28.3 ; python_version >= "3.11" and python_version < "3.14"
h11==0.16.0 ; python_version >= "3.11" and python_version < "3.14" and platform_system != "Pyodide"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "3.14" and platform_system != "Pyodide"
httpx==0.28.1 ; python_version >= "3.11" and python_version < "3.14" and platform_system != "Pyodide"
idna==3.11 ; python_version >= "3.11" and python_version < "3.14" and platform_system != "Pyodide"
numpy==2.3.5 ; python_version >= "3.12" and python_version < "3.14" or python_version == "3.11"
oauthlib==3.3.1 ; python_version >= "3.11" and python_version < "3.14" and platform_system != "Pyodide"
pandas==2.3.3 ; python_version >= "3.11" and python_version < "3.14"
poetry-core==2.2.1 ; python_version >= "3.11" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "3.14"
pytz==2025.2 ; python_version >= "3.11" and python_version < "3.14"
repath==0.9.0 ; python_version >= "3.11" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.11" and python_version < "3.14"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "3.13" and platform_system != "Pyodide"
tzdata==2025.2 ; python_version >= "3.11" and python_version < "3.14"
websockets==15.0.1 ; python_version >= "3.11" and python_version < "3.14"
